
@media print {

.screen_only {
display: none;
}
}

@media (max-width:640px){
body {
  {background-color:blue;
    }
  }

@media (min-width:641px)and(max-width:768px){
  body {
    background-color:red;
  }
}

@media (min-width:769px){
  body {
    background-color:white;
  }
}

  table {
  font-size: 20px;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  width: 40%;
  background-color: white;
  vertical-align: center;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}
th{
  border: 3px solid black;
  background-color: #28E9E9;
  font-size: 24px;
}
td{
  border: 3px solid black;
}
tr:hover{
  background-color: #79D40B;
}
.content{
  border: 3px solid black;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

p{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: red;
}

.list{
  background-color: #CD6F04;
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
